body {
    font-family: 'Open Sans', sans-serif;
}
/*content__title*/
.banner {
    background: url(./Фон_1.png);
    height: 1000px;
}

.content__main {
    display: flex;
}

header {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 180px;
}

ul,
li {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-left: 100px;
    white-space: nowrap;
    width: 1100px;
    padding-top: 28px;
    font-weight: 500;
}
/*nav_main*/
.nav_main {
    animation: form 1s ease-in-out;
    font-size: 20px;
    position: relative;
}
.nav_main::after {
    content: '';
    display: block;
    width: 0 auto;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_main 1s ease-in-out;
}

.nav_main:hover {
    color: lightgrey;
}
@keyframes nav_main {
    from {
        width: 10%
    }
    90% {
        width: 100%
    }
    95% {
        width: 10%;
    }
    100% {
        width: 0%;
    }
}
/*nav_about*/
.nav_about {
    margin: 0;
    padding: 0px;
    position: relative;
}
.nav_about::after {
    content: '';
    display: block;
    width: 0 auto;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_about 1s ease-in-out;
    animation-delay: 0.6s;
}
@keyframes nav_about {
    from {
        width: 10%
    }
    90% {
        width: 100%
    }
    95% {
        width: 10%;
    }
    100% {
        width: 0%;
    }
}
/*nav_direction*/
.nav_direction {
    position: relative;
}

.nav_direction::after {
    content: '';
    display: block;
    width: 0 auto;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_direction 1s ease-in-out;
    animation-delay: 1.4s;
}
@keyframes nav_direction {
    from {
        width: 10%
    }
    90% {
        width: 100%
    }
    95% {
         width: 10%;
    }
    100% {
        width: 0%;
    }
}
/*nav_patrons*/
.nav_patrons {
    position: relative;
}
.nav_patrons::after {
    content: '';
    display: block;
    width: 0 auto;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_patrons 1s ease-in-out;
    animation-delay: 2.1s;
}
@keyframes nav_patrons {
    from {
        width: 10%
    }
    90% {
        width: 100%
    }
    95% {
         width: 10%;
    }
    100% {
        width: 0%;
    }
}
/*nav_contacts*/
.nav_contacts {
    position: relative;
}
.nav_contacts::after {
    content: '';
    display: block;
    width: 0 auto;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_contacts 1s ease-in-out;
    animation-delay: 2.8s;
}
@keyframes nav_contacts {
    from {
        width: 10%
    }
    90% {
        width: 100%
    }
    95% {
         width: 10%;
    }
    100% {
        width: 0%;
    }
}
/*nav_phonenumber*/
.nav__phonenumber {
    margin-left: 50px;
    position: relative;
}
.nav__phonenumber::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D1A954;
    position: absolute;
    animation: nav_phonenumber 1s ease-in-out;
    animation-delay: 3.5s;
}
@keyframes nav_phonenumber {
    from {
        width: 10%
    }
    to {
        width: 100%;
    }
}

/*Side bar*/
.sidebar {
    background:rgba(51, 51, 51, 0.75);
    height: 1000px;
    width: 140px;
    color: white;
    font-family: Open Sans Condensed;
    font-size: 18px;
    font-weight: 400;
    position: absolute;

}
.sidebar__text {
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 400px;
}
.sidebar__line {
    border: 1px solid #C4C4C4;
    width: 70px;
    margin: 0 auto;
    margin-top: 135px;
    transform: rotate(90deg);
}
.sidebar__contact {
    text-align: center;
    margin-top: 85px;
}
.contact_img {
    margin-top: 15px;
}


/*block1*/
.container {
    display: flex;
}
.content__block_1 {
    color: white;
    margin-left: 350px;
    margin-top: 200px;
}

.content_title {
    font-weight: 600;
    font-size: 45px;
}

.content_text {
    font-weight: 300;
    margin-top: 40px;
}

.content_img {
    margin-left: 700px;
    margin-top: -250px;
}
.content_arrows {
    margin-left: 750px;
    display: flex;
    margin-top: 10px;
}
.prev {
    margin-left: -19px;
}
.next {
    margin-left: 90px;
}

.btn { 
    font-family: Open Sans Condensed;
    height: 45px;
    width: 190px;
    display: block;
    border: 0;
    background:#D1A954;
    color: white;
    outline: none;
    font-weight: 500;
    font-size: 21px;
    margin-top: -230px;
    padding: 0px;
    display: block
}
.btn:hover {
    background-color:#a18240;
}

/*CONTENT_ABOUT*/
.content__about {
    background-color:rgba(51, 51, 51, 0.75);
}